/* C O L O R */
:root {
    --dark-blue: #1842BD;
    --link-color: #6764EE;
    --border-color: #BABABA;
    --base-color: #FEFEFE;
    --default-font-color: #282828;
    --active-dot: #717171;
    --login-left: #ECF4FF;
    --error-color: #E53B34;
    --toast-font-color: color: rgba(0, 0, 0, 0.7);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--default-font-color);
    box-sizing: border-box;
}

.bg-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url('../../public/assets/mtodata_bg.png');
    background-size: cover;
    opacity: 0.4;
}

/*L A Y O U T */
.login-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    margin: auto;
    height: 500px;
    width: 800px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--base-color);
}

.login-container,
input,
.login-btn {
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

/* LOGIN LEFT-SIDE */
.left-side {
    text-align: center;
    width: 400px;
    height: 500px;
    border-right: 1px solid var(--border-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    background-color: var(--login-left);
}

.carousel-img {
    padding-top: 40px;
    width: 230px;
}

.dot-container {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

.dot {
    height: 14px;
    width: 14px;
    margin: 0 2px;
    background-color: var(--border-color);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: var(--active-dot);
}

.img-slides {
    position: absolute;
    padding: 5px 15px;
    margin: 7px;
}

.img-slides p {
    font-size: 14px;
}


/* LOGIN RIGHT-SIDE */
.right-side {
    align-items: center;
    width: 400px;
    height: 500px;
}

.logo {
    padding: 30px;
    width: 267px;
}

.field,
.login-btn {
    font-size: 15px;
    padding: 10px;
}

.field,
.right-side {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 15px;
    padding: 10px 20px;
    width: 290px;
    margin-top: 10px;
}

input::placeholder {
    padding-left: 5px;
}

.login-btn {
    margin: 30px 0px 20px 0px;
    height: 40px;
    width: 340px;
    background-color: var(--dark-blue);
    color: whitesmoke;
    font-weight: 300;
    cursor: pointer;
}

.login-btn:hover {
    background-color: var(--link-color);
}


/*        
.forgot-pass{
    font-size: 15px;
    color: var(--link-color);
}
.forgot-pass:hover{
    color: var(--dark-blue);
} */

/* TOAST */
.toast-container {
    display: flex;
    align-items: center;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    top: 2%;
    left: 0;
    right: 0;
    height: 10%;
    width: 25%;
    margin: auto;
    background-color: var(--base-color);
    color: var(--toast-font-color);
    visibility: hidden;
}

.toast-icon {
    font-size: 25px;
}

.toast-left {
    background-color: var(--error-color);
    border-radius: 5px 0px 0px 5px;
    height: 100%;
    width: 15%;
    color: var(--base-color);
}

.toast-left,
.toast-right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.toast-right p {
    padding-left: 15px;
}