<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="../../public/css/dashboard.css">
</head>
<body>
    <div class="bg-container"></div>
    
    <header class="header-main">
        
    </header>
    <div class="side-nav">
        <header class="header-nav">
            <img class="logo" src="../../public/assets/mtodata_logo.png" alt="logo of mtodata system">
            <p>ADMIN PANEL</p>
        </header>
        <div class="item-container">
            <ul>
                <li>DASHBOARD</li>
                <li>USERS</li>
                <li>MEMBER INFORMATION</li>
                <li>FINANCE</li>
                <li>COMPLAINTS</li>
                <li>EVENTS & PROGRAMS</li>
                <li>LOGOUT</li>
            </ul>
        </div>
    </div>
    <footer class="flex">
        <p>&copy;mtodata 2023</p>
        <div class="link-footer flex">
            <p class="border-right">PUP Institute of Technology</p>
            <a href="#" class="border-right">Terms of Use</a>
            <p>Version 1.0</p>
        </div>
    </footer>
</body>
</html>